@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    DateTime yesterday = DateTime.Today.AddDays(-1);

    <ul class="nav navbar-nav">
        <li>
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <a asp-controller="Socket" asp-action="Index">Manage Devices</a>
        </li>
        <li>
            <a asp-controller="Statistics" asp-action="Index" 
               asp-route-from="@yesterday.ToString("yyyy-MM-dd")" 
               asp-route-to="@yesterday.ToString("yyyy-MM-dd")">Statistics</a>
        </li>
    </ul>
}
