@model SocketDeleteViewModel

@{
    ViewData["Title"] = "Delete socket";
}

<h2>Are you sure you want to delete <strong>@Model.Name</strong>?</h2>
<hr />
<div class="alert alert-danger">
    <strong>Danger!</strong> This action will also delete all tasks and data connected to this socket!
</div>
    
<form asp-action="Delete">
    <input type="hidden" asp-for="SocketId" />
    <button type="submit" class="btn btn-danger">
        <i class="fa fa-trash-o"></i> Delete
    </button>
    <a asp-controller="Socket" asp-action="Index" class="btn btn-primary"><i class="fa fa-undo"></i> Back</a>
</form>