@model IEnumerable<RoomListViewModel>

@{
    ViewData["Title"] = "Manage devices";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary btn-block" asp-controller="Room" asp-action="Create"><i class="fa fa-plus"></i> Add new room</a>
        </div>
        <hr />
    </div>
</div>

@foreach (RoomListViewModel room in Model)
{

    <div class="container">
        <div class="row">
            <div class="col">
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <a class="btn btn-primary" asp-controller="Room" asp-action="Edit" asp-route-id="@room.RoomId"><i class="fa fa-pencil-square-o"></i> Edit</a>
                        <a class="btn btn-danger" asp-controller="Room" asp-action="Delete" asp-route-id="@room.RoomId"><i class="fa fa-trash-o"></i> Delete</a>
                        <a class="btn btn-success" asp-controller="Socket" asp-action="Create" asp-route-id="@room.RoomId"><i class="fa fa-plus"></i> Add socket</a>
                    </div>
                </div>
                <h2>@room.Name</h2>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">

        @foreach (SocketListViewModel socket in room.Sockets)
        {
            @await Html.PartialAsync("_SocketBlockPartial", socket)
        }

    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            function checkSockets() {
                $.ajax({
                    url: '/Socket/CheckSockets/',
                    type: "POST",
                    dataType: 'json',
                    success: function (response) {
                        console.log("start");

                        $(".btn-toggle").each(function () {
                            var devid = $(this).attr('id');
                            var res = response[devid];
                            if (res == null) {
                                $(this).addClass("disabled")
                                        .attr('data-toggle', "")
                                        .removeClass("active");
                                $("#icon_" + devid).removeClass("text-danger text-success");
                            }
                            else if (res == true) {
                                $(this).removeClass("disabled")
                                        .attr('data-toggle', "button")
                                        .addClass("active");
                                $("#icon_" + devid).removeClass("text-danger")
                                    .addClass("text-success");
                            }
                            else if (res == false) {
                                $(this).removeClass("disabled")
                                        .attr('data-toggle', "button")
                                        .removeClass("active");
                                $("#icon_" + devid).removeClass("text-success")
                                    .addClass("text-danger");
                            }
                        });
                    }
                });
            }

            $(".btn-toggle").click(function () {
                var devid = $(this).attr('id');
                var el = $("#icon_" + devid);
                var action;
                if (el.hasClass("text-success")) {
                    el.removeClass("text-success")
                        .addClass("text-danger");
                    action = false;
                } else
                {
                    el.removeClass("text-danger")
                        .addClass("text-success");
                    action = true;
                }

                var sendData =
                    {
                        deviceId: devid,
                        value: action
                    };

                $.ajax({
                    url: '/Socket/ChangeState/',
                    type: "POST",
                    dataType: "json",
                    data: sendData
                });
            });

            checkSockets();

            window.setInterval(function () {
                checkSockets();
            }, 5000);
        });
    </script> 
}